<!-- ESSE ACTION=CONTROLLERFORM É O QUE DEFINE A ROTA QUE ELE VAI BUSCAR E O MÉTODO, É GRAÇAS A ISSO QUE QUANDO EU CLICO NESSE BOTÃO ELE BUSCA A ROTA CONTROLLERFORM NO APP.JS
E LÁ NO CONTROLLER ELE DEFINE QUE APÓS FAZER O POST ELE RENDERIZA A PÁGINA QUE TAMBÉM CHAMA CONTROLLERFORM-->


<form name="form1" action="controllerForm" method='post'>

<input type='text' name="id" id='id' placeholder='id:'><Br>
<input type='text' name="NOME" id='NOME' placeholder='Nome:'><Br>
<input type='text' name="IDADE" id='IDADE' placeholder='Idade:'><Br>
<input type='submit' name='btnSubmit' id='btnSubmit' value='Add'><BR>

</form>