<form name="form1" action="/controllerUpd" method='post'>

<input type='hidden' name="ID" id='ID' placeholder='ID:' value='{{ID}}'><Br>
<input type='text' name="NOME" id='NOME' placeholder='Nome:' value='{{NOME}}'><Br>
<input type='text' name="IDADE" id='IDADE' placeholder='Idade:' value='{{IDADE}}'><Br>
<input type='submit' name='btnX' id='btnX' value='update'><BR>

</form>